*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

#root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:linear-gradient(to right, rgb(111, 18, 18),rgb(231, 10, 10));
}

ul{
    display: flex;
}

li{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
}
.root{
    display: none;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to right, rgb(111, 18, 74),rgb(231, 10, 131));
}
